/* modal pop up är tagen från externkälla. https: //codepen.io/codejockie/pen/NBwjyd */


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

    text-align: center;
    z-index: 10;
    color: var(--dark-text-color);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;

    width: 66%;
    max-width: 600px;
    min-width: 300px;
}

.modal-content p {
    margin: 1rem 0 1rem 0;
}

.close-button {
    float: right;
    width: 2rem;
    font-size: x-large;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content .btn {
    color: white;
    border-color: var(--tertiary-color-no1);
    display: inline-block;
    margin: 0.5rem;
    background-color: var(--tertiary-color-no1);

}

.modal-content .btn:hover {
    background-color: #00000099;
    cursor: pointer;
}